@page "/"
@using Chamran.Deed.Core.Dependency
@inherits DeedMainLayoutPageComponentBase

<div class="card">
    <div class="card-body">
        INDEX
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        DependencyResolver.Resolve<INavigationService>().NavigateTo(NavigationUrlConsts.Login);
    }
}