version: '3.7'

services:      

  mycompanyname.abpzerotemplate.web.host:
    image: ${DOCKER_REGISTRY-}mycompanynameabpzerotemplatewebhost
    container_name: mycompanynameabpzerotemplatewebhost_container
    build:
      context: ../../
      dockerfile: src/MyCompanyName.AbpZeroTemplate.Web.Host/Dockerfile
    env_file:
      - ${ENV_FILE:-.env}
    environment:
      - Abp__RedisCache__ConnectionString=localhost:6379
    ports:
      - "44301:443"
    networks:
      - mycompanyname.abpzerotemplate

networks:
  mycompanyname.abpzerotemplate:
    external:
      name: mycompanyname.abpzerotemplate