version: '3.7'

services:
  
  mycompanyname.abpzerotemplate.web.public:
    image: ${DOCKER_REGISTRY-}mycompanynameabpzerotemplatewebpublic
    container_name: mycompanynameabpzerotemplatewebpublic_container
    build:
      context: ../../
      dockerfile: src/MyCompanyName.AbpZeroTemplate.Web.Public/Dockerfile
    env_file:
      - ${ENV_FILE:-.env}
    ports:
      - "44303:443"
    networks:
      - mycompanyname.abpzerotemplate

networks:
  mycompanyname.abpzerotemplate:
    external:
      name: mycompanyname.abpzerotemplate