version: '3.7'

services:

  mycompanyname.abpzerotemplate.migrator:
    image: ${DOCKER_REGISTRY-}mycompanynameabpzerotemplatemigrator
    container_name: mycompanynameabpzerotemplatemigrator_container
    build:
      context: ../../
      dockerfile: src/MyCompanyName.AbpZeroTemplate.Migrator/Dockerfile
    env_file:
      - ${ENV_FILE:-.env}
    environment:
      - ASPNETCORE_Docker_Enabled=true
    networks:
      - mycompanyname.abpzerotemplate
      
networks:
  mycompanyname.abpzerotemplate:
    external:
      name: mycompanyname.abpzerotemplate